//------------------------------------------------------------------------------
// Abstract





//------------------------------------------------------------------------------
// Base

html, body {
  height: 100%;
}

//------------------------------------------------------------------------------
// Body Components

.page-search {
  height: 100px;
}

.page {
  .page__filters {
    height: 80px;
  }
}

//------------------------------------------------------------------------------
// Footer Components
