//------------------------------------------------------------------------------
// Abstract





//------------------------------------------------------------------------------
// Base

html, body {
  height: 100%;
}

//------------------------------------------------------------------------------
// Body Components

.page-search {
  height: 100px;
}

@include B(page) {
  @include E(filters) {
    height: 80px;
  }
}

//------------------------------------------------------------------------------
// Footer Components
