//------------------------------------------------------------------------------
// Abstract



//------------------------------------------------------------------------------
// Emoji
@include B(emoji) {
  @include flex(row, space-between, center);
  flex-wrap: wrap;
  max-width: 490px;
  margin: 0 auto;
  @include E(mojo) {
    position: relative;
    padding: 10px 17px 24px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    &:nth-child(6n) {
      margin-right: 10px;
    }

    &:after {
      @include position-center(absolute, x);
      bottom: 15px;
      font-size: in-rems(9px);
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }

    &:hover {
      cursor: pointer;
      background: rgba($black, 0.1);
      border-radius: 4px;
      &:after {
        content: 'copy';
      }

      @include BEM(emoji, mojo-tones) {
        display: block;
      }
    }
    &:active {
      background: rgba($black, 0.15);
      &:after {
        content: 'copied!';
      }
    }  
  }

  @include E(mojo-tones) {
    display: none;
    position: absolute;
    z-index: 1;
    width: 70px;
    top: 80px;
    left: 0;
    background: lighten($black, 70%);
    border: 1px solid $black;
    border-radius: 3px;
    text-align: center;

    &:after {
      content: '';
      position: absolute;
      width: 10px;
      height: 10px;
      top: -6px;
      left: 30px;
      border-top: 1px solid black;
      border-left: 1px solid black;
      background: lighten($black, 70%);
      transform: rotate(45deg);
    }
  }

  @include E(mojo-tones-1) {
    position: relative;
    z-index: 1;
  }
}
