//------------------------------------------------------------------------------
// Abstract



//------------------------------------------------------------------------------
// Emoji
.emoji {
  @include flex(row, space-between, center);
  flex-wrap: wrap;
  max-width: $width--emojis;
  margin: 0 auto;
  .emoji__mojo {
    position: relative;
    padding: 10px 17px 24px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    &:nth-child(6n) {
      margin-right: 10px;
    }

    &:after {
      @include position-center(absolute, x);
      bottom: 15px;
      font-size: in-rems(9px);
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }

    &:hover {
      cursor: pointer;
      background: rgba($black, 0.1);
      border-radius: 4px;
      &:after {
        content: 'copy';
      }

      .emoji__mojo-tones {
        display: block;
      }
    }

    &:active {
      background: lighten($black, 65%);
    }  
  }

  .emoji__mojo-tones {
    display: none;
    position: absolute;
    z-index: 1;
    width: 68px;
    top: 77.5px;
    left: 0;
    background: lighten($black, 70%);
    border: 1px solid lighten($black, 50%);
    border-radius: 3px;
    text-align: center;
    box-shadow: 0 1px 0 1px rgba($black, 0.05);

    &:after {
      content: '';
      position: absolute;
      width: 10px;
      height: 10px;
      top: -6px;
      left: 30px;
      border-top: 1px solid lighten($black, 50%);
      border-left: 1px solid lighten($black, 50%);
      background: lighten($black, 70%);
      transform: rotate(45deg);
    }

    .emoji__mojo-tone {
      display: block;
      width: 100%;
      &:hover {
        background: lighten($black, 65%);
      }

      &:first-child {
        position: relative;
        z-index: 1;
      }
    }
  }
}
