//------------------------------------------------------------------------------
// Abstract


//------------------------------------------------------------------------------
// Megalink

.megalinks {
  @include flex(column, center, stretch);
  position: absolute;
  width: 100vw;
  height: calc(100% - #{$height--full-header});
  top: $height--full-header;
  
  @include media(">=tablet") {
    @include flex(row, center, stretch);
    height: 100vh;
    top: 0;
  }
}

.megalink {
  @include flex(column, center, center);
  @include desc-underlines(reset);
  flex-basis: 50%;
  flex-grow: 1;


  &:hover {
    background: lighten($black, 67.5%);
  }

  .megalink__char {
    font-size: 30px;

     @include media(">=tablet") {
    font-size: 60px;
    }
  }

  .megalink__text {
    font-family: $font-mono;
    font-size: 36px;
  }
}