//------------------------------------------------------------------------------
// Abstract


//------------------------------------------------------------------------------
// Category

.page__links {
  position: relative;
  z-index: 3;
}

.page-links {
  @include flex(row, flex-end, center);
  position: fixed;
  top: 15px;
  right: 20px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.page-link {
  @include desc-underlines(reset);
  margin-right: 10px;

  &:hover,
  &:active {
    @include desc-underlines(reset);
  }
}

.page-link--emoji {
  font-size: 12px;
}

.page-link--expand {
  @include flex(row, space-between, center);
  width: 25px;
  height: 15px;
  transform: scale(0.875);

  &:hover {
    span, span:before, span:after {
      background: $black;
    }
  }

  &:hover,
  &:active {
    @include desc-underlines(reset);
  }

  span {
    width: 10px;
    height: 1px;
    background: $black;

    &:before,
    &:after {
      content: '';
      position: absolute;
      width: 5px;
      height: 1px;
      background: $black;
    }

    &:first-child {
      &:before {
        top: 5px;
        left: 0;
        transform: rotate(-45deg);
      }
      &:after {
        bottom: 5px;
        left: 0;
        transform: rotate(45deg);
      }
    }

    &:last-child {
      &:before {
        top: 5px;
        right: 0;
        transform: rotate(45deg);
      }
      &:after {
        bottom: 5px;
        right: 0;
        transform: rotate(-45deg);
      }
    }
  }

  &.page-link--expand-expanded {
    span:first-child {
      &:before {
        left: 6px;
        transform: rotate(45deg);
      }
      &:after {
        left: 6px;
        transform: rotate(-45deg);
      }
    }

    span:last-child {
      &:before {
        right: 6px;
        transform: rotate(-45deg);
      }
      &:after {
        right: 6px;
        transform: rotate(45deg);
      }
    }
  }
}